.board-container {
    text-align: center;
}

.board {
    display: inline-block;
    margin-top: 7.5em;
}

.boggle-cell {
    align-items: center;
    font-size: large;
    font-weight: bolder;
    height: 70px;
    text-align: center;
    width: 70px;
    border: 1px solid black;
}

.boggle-cell[data-available=true] {
    background-color: green;
}

.timer {
    font-size: xx-large;
}
